<div class="post-preview">
    <a href="<%- config.root %><%- item.path %>">
        <h2 class="post-title">
            <%- item.title || "ä¸æƒ³å†™é¢˜ç›®" %>
        </h2>
        <div class="post-date">
            <%- item.date.format(theme.date_format) %>

            <% if (theme.leancloud_visitors.enable) { %>
                &nbsp; | &nbsp;
                ðŸ‘€&nbsp;
                <span id="<%- url_for(item.path) %>" class="leancloud_visitors" data-title="<%= item.title %>"></span>
            <% } %>
        </div>
    </a>
</div>
